.logo {
 margin-top: 30px;
}

.header {
    width: auto;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: -60px;
}

.rigth-navbar {
    display: flex;
    justify-content: end;
}

.f-link {
    text-decoration: none;
    margin: 30px;
}

.title {
    font-size: 24px;
    color: #FF9401;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;;
}

.main-title {
    font-size: 96px;
    font-weight: 700;
}

.op-title {
    font-size: 96px;
    font-weight: 700;
}

.description {
    font-size: 20px;
    font-weight: 500;
}

.order {
    width: 243px;
    height: 62px;
    background-color: #FF9401;
    border-radius: 31px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border: none;
    margin-top: 30px;
}

.rigth-content {
    float: right;
    margin-top: -550px;
    margin-right: -50px;
}

.media-icon  {
    margin-top: 30px;
}

.media-icon a {
    text-decoration: none;
}

.text-center {
    margin-top: 200px;
}


.order-button {
    background-color: #FF9401;
    border: none;
    color: #ffffff;
    width: 224px;
    height: 62px;
    border-radius: 31px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    margin-right: 210px;
}

.description-about {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #3F3232;
}

.title-about {
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    color: #2E2E2E;
}


.title-us {
   color: #FF9401;
   font-weight: 600;
   font-size: 24px;
   line-height: 30px;
}

.mogo {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FF9401;
}

.title-mogo {
    font-weight: 700;
    font-size: 48px;
    color: #2E2E2E;
    font-style: normal;
}

@media only screen and (max-width: 500px)  {
   .center {
    display: none;
   }

   .rigth-content {
    display: none;
   }

   .main-title {
    font-size: 60px;
    font-weight: 700;
   }
   .op-title {
    font-size: 50px;
    font-style: 700;
   }
   .op-title {
    font-size: 50px;
    font-weight: 700;
   }
   .content {
    margin-top: 70px;
   }
   .logo {
    font-size: 32px;
   }

   .f-link {
    margin: 15px;
   }
}


@media only screen and (max-width: 455px)  {
    .center {
     display: none;
    }
 
    .rigth-content {
     display: none;
    }
 
    .main-title {
     font-size: 60px;
     font-weight: 700;
    }
    .op-title {
     font-size: 50px;
     font-style: 700;
    }
    .op-title {
     font-size: 50px;
     font-weight: 700;
    }
    .content {
     margin-top: 70px;
    }
    .logo {
     font-size: 32px;
    }
 
    .f-link {
     margin: 15px;
    }
 }

 @media only screen and (max-width: 340px)  {
    .center {
     display: none;
    }
 
    .rigth-content {
     display: none;
    }
 
    .main-title {
     font-size: 60px;
     font-weight: 700;
    }
    .op-title {
     font-size: 50px;
     font-style: 700;
    }
    .op-title {
     font-size: 50px;
     font-weight: 700;
    }
    .content {
     margin-top: 70px;
    }
    .logo {
     font-size: 32px;
    }
 
    .f-link {
     margin: 15px;
    }
 }